<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tpov.shop">

    <application>
        <activity
            android:name=".presentation.ReferralActivity"
            android:exported="false"
            android:theme="@style/Theme.ShopModule.Fullscreen" />
    </application>
</manifest> 